name: release

on:
  push:
    tags:
      - "v*.*.*"

permissions:
  contents: write

jobs:
  build-and-release:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v5
        with:
          fetch-depth: 0

      - name: Install Python
        uses: actions/setup-python@v6
        with:
          python-version: "3.13"

      - name: Install uv
        uses: astral-sh/setup-uv@v7
        with:
          enable-cache: true

      # - name: Install deps (optional; often not needed just to build)
      #   run: uv sync --locked --all-extras --dev

      - name: Build distributions
        run: uv build

      - name: Create GitHub Release and upload dist/*
        uses: softprops/action-gh-release@v2
        with:
          files: dist/*
          generate_release_notes: true
